# User Behavior Analysis (Pandas)

This notebook performs user-level behavior analysis based on aggregated SQL results.

In [1]:
#导入库与创建数据库连接
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:123456@localhost:3306/ecommerce_analysis"
)

In [6]:
#读取用户级汇总表
sql = """
SELECT *
FROM user_behavior_summary
"""

df = pd.read_sql(sql, engine)
df.head()

    user_id  total_events  view_cnt  cart_cnt  purchase_cnt  total_spent
0  10300217             1       1.0       0.0           0.0          0.0
1  29515875            10      10.0       0.0           0.0          0.0
2  31198833            19      19.0       0.0           0.0          0.0
3  33869381             1       1.0       0.0           0.0          0.0
4  42896738             3       3.0       0.0           0.0          0.0

In [7]:
#数据的基本信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4106752 entries, 0 to 4106751
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   user_id       int64
 1   total_events  int64
 2   view_cnt      float64
 3   cart_cnt      float64
 4   purchase_cnt  float64
 5   total_spent   float64
dtypes: float64(4), int64(2)
memory usage: 188.0 MB

In [9]:
df_user = df.copy()

df_user.shape

(4106752, 6)

In [ ]:
#用户分层（基于消费金额）
df_user["user_segment"] = pd.cut(
    df_user["total_spent"],
    bins=[-1, 0, 500, 2000, np.inf],
    labels=["未付费", "低价值", "中价值", "高价值"]
)

In [13]:
#数据导出
# ========= 用户分层汇总=========
df_segment_summary = (
    df_user
    .groupby("user_segment")
    .agg(
        user_cnt=("user_id", "nunique"),
        total_spent=("total_spent", "sum"),
        avg_spent=("total_spent", "mean"),
        avg_events=("total_events", "mean"),
        avg_purchase=("purchase_cnt", "mean")
    )
    .reset_index()
)

df_segment_summary.to_excel(
    "../excel/user_segment_summary.xlsx",
    index=False
)

# =========全量用户数据=========
df_user.to_csv(
    "../data/processed/user_behavior_full.csv",
    index=False
)

C:\Users\MECHREUO-Allen\AppData\Local\Temp\ipykernel_40476\4195058363.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_user